@import "tailwindcss";

:root{
  background-color: #CBCBCB;
  color: #717976;
}

.base-color{
  background-color: #CBCBCB;
}
.base-color-light{
  background-color: #EFEFEF;
}

.real-blue-background{
  background-color: #3076B2;

}

.real-blue-text{
  color: #1662A8;
}

.real-red-text{
  color: #712232;
}

.real-red-background{
  background-color: #712232;
}

.real-blue-border {
  border: 1px solid #1662A8;
}

.real-red-border {
  border: 1px solid #712232;
}